---

################################################################################
#  description: Generates and installs a new replication key to a GROUP of MongoDB 3x servers on CentOS7x
#  usage: CentOS7x_Generate-and-Install-both-a-new-MongoDB-Replication-Key-and-a-new-Self-Signed-Certificate-playbook.yml --extra-vars 'HostOrGroup=YourGroupNameGoesHere'
#  author: Ernest G. Wilson II <ErnestGWilsonII@gmail.com> (https://github.com/ernestgwilsonii)
#  license: MIT
################################################################################


# Ansible Playbook options
# REF: http://docs.ansible.com/ansible/playbooks.html
#####################################################

- name: Generate prerequistite MongoDB replication key on the Ansible host
  hosts: localhost
  serial: "100%"
  gather_facts: False
  tasks:

# Execute raw command(s)
# REF: http://docs.ansible.com/ansible/raw_module.html
##########################################################

# Generate a new replication key
  - name: /usr/bin/openssl rand -base64 756 > /tmp/mongod-replication.key
    raw: /usr/bin/openssl rand -base64 756 > /tmp/mongod-replication.key

# Generate a new self-signed certificate
  - name: cd /tmp && /usr/bin/openssl req -nodes -newkey rsa:2048 -new -x509 -days 3650 -keyout mongodb-cert.key -out mongodb-cert.crt -subj '/C=US/ST=Washington/L=Seattle/O=CenturyLink/OU=Cloud/CN=*.centurylink.local/emailAddress=help@ctl.io'
    raw: cd /tmp && /usr/bin/openssl req -nodes -newkey rsa:2048 -new -x509 -days 3650 -keyout mongodb-cert.key -out mongodb-cert.crt -subj '/C=US/ST=Washington/L=Seattle/O=CenturyLink/OU=Cloud/CN=*.centurylink.local/emailAddress=help@ctl.io'

# Create a single usable file that the MongoDB configuration will use as the self-signed certificate
  - name: cd /tmp && cat mongodb-cert.key mongodb-cert.crt > mongodb.pem
    raw: cd /tmp && cat mongodb-cert.key mongodb-cert.crt > mongodb.pem


# Ansible Playbook options
# REF: http://docs.ansible.com/ansible/playbooks.html
#####################################################

- name: install a new replication key to a GROUP of MongoDB 3x servers on CentOS7x
  hosts: "{{ HostOrGroup|default ('FATAL ERROR --> HostOrGroup NOT SET! You must specify either a Host or a Group name!') }}"
  serial: "100%"
  gather_facts: False
  tasks:


# Use the copy module to copy various files into place
# REF: http://docs.ansible.com/ansible/copy_module.html
#######################################################

# /var/lib/mongo/mongod-replication.key
  - name: Copy temporary Ansible local file /tmp/mongod-replication.key to MongoDB remote /var/lib/mongo/mongod-replication.key
    copy:
      src=/tmp/mongod-replication.key
      dest=/var/lib/mongo/mongod-replication.key
      owner=mongod
      group=mongod
      mode=0400

# /etc/ssl/mongodb.pem
  - name: Copy temporary Ansible local file /tmp/mongod-replication.key to MongoDB remote /var/lib/mongo/mongod-replication.key
    copy:
      src=/tmp/mongodb.pem
      dest=/etc/ssl/mongodb.pem
      owner=mongod
      group=mongod
      mode=0444


# command - Executes a command on a remote node
# REF: http://docs.ansible.com/ansible/command_module.html
##########################################################

  - name: Ensure current active running value transparent_hugepage/defrag is set to never
    command: echo never > /sys/kernel/mm/transparent_hugepage/defrag

  - name: Ensure current active running value transparent_hugepage/enabled is set to never
    command: echo never > /sys/kernel/mm/transparent_hugepage/enabled


# Enable and start mongod service
# REF: http://docs.ansible.com/ansible/service_module.html
##########################################################

  - name: Re-start the mongod service
    service:
      name=mongod.service
      enabled=yes
      state=restarted
      # Note: Command line verification:
      # systemctl status mongod.service
      # systemctl status mongod.service -l
      # service mongod status
      # ls /var/lib/mongo
      # cat /var/log/messages | grep mongod
      # cat /usr/lib/systemd/system/mongod.service
      # cat /etc/mongod.conf
      # cat /var/log/mongodb/mongod.log


# Ansible Playbook options
# REF: http://docs.ansible.com/ansible/playbooks.html
#####################################################

- name: Post deployment cleanup of the MongoDB replication key and self-signed certicate files from the temporary location on the Ansible host
  hosts: localhost
  serial: "100%"
  gather_facts: False
  tasks:

# Use the file module
# REF: http://docs.ansible.com/ansible/file_module.html
#######################################################

  - name: rm /tmp/mongod-replication.key
    file:
      path: /tmp/mongod-replication.key
      state: absent

  - name: rm /tmp/mongodb-cert.crt
    file:
      path: /tmp/mongodb-cert.crt
      state: absent

  - name: rm /tmp/mongodb-cert.key
    file:
      path: /tmp/mongodb-cert.key
      state: absent

  - name: rm /tmp/mongodb.pem
    file:
      path: /tmp/mongodb.pem
      state: absent
