---

################################################################################
#  description: Installs Kibana 4x on CentOS7x
#  usage: ansible-playbook CentOS7x_Install-Kibana-playbook.yml --extra-vars 'HostOrGroup=YourServerOrGroupNameGoesHere'
#  author: Ernest G. Wilson II <ErnestGWilsonII@gmail.com> (https://github.com/ernestgwilsonii)
#  license: MIT
################################################################################


# Ansible Playbook options
# REF: http://docs.ansible.com/ansible/playbooks.html
#####################################################

- name: Install Kibana 4x on CentOS7x
  hosts: "{{ HostOrGroup|default ('FATAL ERROR --> HostOrGroup NOT SET! You must specify either a Host or a Group name!') }}"
  serial: "100%"
  gather_facts: False
  tasks:


# Install or configure repository used on the OS by yum
# REF: https://docs.ansible.com/ansible/yum_repository_module.html
##################################################################

# /etc/yum.repos.d/kibana.repo
  - name: Install repository kibana
    yum_repository:
      name: kibana
      description: Kibana repository for 4.5.x packages
      file: kibana
      baseurl: http://packages.elastic.co/kibana/4.5/centos
      enabled: yes
      gpgcheck: yes
      gpgkey: http://packages.elastic.co/GPG-KEY-elasticsearch


# Install yum packages
# REF: http://docs.ansible.com/ansible/yum_module.html
######################################################

  - name: Install kibana
    yum:
      name=kibana
      state=latest


# Restart firewalld to make sure it is running OK before changing any rules
# REF: http://docs.ansible.com/ansible/service_module.html
##########################################################

  - name: Ensure the firewalld service is enabled and re-started before changing any rules
    service:
      name=firewalld
      enabled=yes
      state=restarted


# Update the firewalld configuration
# REF: http://docs.ansible.com/ansible/firewalld_module.html
############################################################

  - name: Update firewall to allow port TCP 5601 for incoming Kibana connections
    firewalld:
      port=5601/tcp
      permanent=true
      immediate=yes
      state=enabled
      zone=public


# Use the template module to populate files with data
# REF: http://docs.ansible.com/ansible/template_module.html
###########################################################

# /opt/kibana/config/kibana.yml
  - name: Fill in the variables and copy templates/Kibana/kibana.yml.j2 to remote /opt/kibana/config/kibana.yml
    template:
      src=templates/Kibana/kibana.yml.j2
      dest=/opt/kibana/config/kibana.yml
      owner=root
      group=root
      mode=0644


# Enable and start Kibana service
# REF: http://docs.ansible.com/ansible/service_module.html
##########################################################

  - name: Enable and start the Kibana service
    service:
      name=kibana.service
      enabled=yes
      state=restarted
      # Note: Command line verification:
      # systemctl status kibana.service
      # systemctl status kibana.service -l
      # service kibana status
      # cat /var/log/messages | grep kibana
      # Open a browser http://IP:5601
