[Unit]
Description=SSL tunnel for network daemons
After=syslog.target

[Service]
Type=forking

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stunnel

Restart=always
RestartSec=10

ExecStart=/usr/local/bin/stunnel /usr/local/etc/stunnel/stunnel.conf
ExecStop=kill -9 $(pgrep stunnel)
ExecStatus=pgrep stunnel

[Install]
WantedBy=multi-user.target
