[Unit]
Description=nodered
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/node-red
User=nodered

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=chatops-prod
SyslogFacility=local0
SyslogLevel=info

Restart=always
RestartSec=10


ExecStart=/usr/bin/node /opt/node-red/red.js

[Install]
WantedBy=multi-user.target
