cluster.name: elasticsearch
node.name: {{ansible_ssh_host}}
network.host: 127.0.0.1,{{ansible_ssh_host}}
node.master: true 
node.data: true
discovery.zen.ping.unicast.hosts: ["{{ansible_ssh_host}}:9300"]
discovery.zen.minimum_master_nodes: 1
discovery.zen.ping_timeout: 30s
