cluster.name: elasticsearch
network.host: {{ansible_ssh_host}}
bootstrap.mlockall: true
node.master: true 
node.data: true
node.client: false
discovery.zen.ping.multicast.enabled: true
discovery.zen.ping.unicast.hosts: ["{{ansible_ssh_host}}:9300"]
discovery.zen.minimum_master_nodes: 1
discovery.zen.ping.timeout: 30s
discovery.zen.ping.multicast.enabled: true
discovery.zen.ping.multicast.group: 224.2.2.4
discovery.zen.ping.multicast.port: 54328
