# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  syslogFacility: daemon
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# Where and how to store data.
storage:
  dbPath: /var/lib/mongo
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile

# network interfaces requireSSL vs allowSSL
net:
  port: 27017
  bindIp: {{ansible_ssh_host}},127.0.0.1
  ssl:
    mode: allowSSL
    PEMKeyFile: /etc/ssl/mongodb.pem
    allowConnectionsWithoutCertificates: true
    allowInvalidCertificates: true
    allowInvalidHostnames: true
    disabledProtocols: TLS1_0,TLS1_1

security:
  authorization: enabled
#  clusterAuthMode: keyFile
#  keyFile: /var/lib/mongo/mongod-replication.key

#replication:
#  replSetName: repSet1

#sharding:

#operationProfiling:

## Enterprise-Only Options

#auditLog:

#snmp:
#  subagent: true
